<div class="new-observation-landing-page">

<h2> Click the Button To Start Observation </h2>

<br><br>

<div class="observation-landing-btn-container">
  <button id="obs-landing-begin-observation" class="btn btn-success btn-md current" type="button" data-current-session-id="" data-current-student-id="">Begin Session</button>
</div>

</div>
<br><br>
<div class="dashboard-container">
  <button id="dashboard-home-btn" type="button" class="btn btn-primary">View Dashboard</button>
  <!-- <button id="dashboard-new-session-btn" type="button" class="btn btn-success">Create Session</button> -->
</div>
