
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
      <h2>Instructions</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
      <div class="new-observation-landing-page">
        <h2> Click the Button To Start Observation </h2>
        <div class="observation-landing-btn-container">
          <button id="obs-landing-begin-observation" class="btn btn-success btn-md current" type="button" data-current-session-id="" data-current-student-id="">Begin Session</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row btn-top-margin">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10 max-xs">
      <div class="dashboard-container well">
        <button id="dashboard-home-btn" type="button" class="btn btn-primary">View Students</button>
      </div>
    </div>
  </div>
