<div class="row">
  <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
    <div class="new-observation-landing-page">
      <h2>Start Observing</h2>
      <p><span class="highlight-red">It is highly recommended that you read the Observation Instructions before starting your first observation session.</span>  If you are already familiar with the web application, please
      proceed to the observation page by clicking the "Begin Session" button below:</p>
      <div class="observation-landing-btn-container">
        <button id="obs-landing-begin-observation" class="btn btn-success btn-md current" type="button" data-current-session-id="" data-current-student-id="">Begin Session</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
    <hr class="hr-divide">
  </div>
</div>

  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
      <h2>Observation Instructions (From Tutorial)</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
      <h3>Submitting an Observation</h3>
      <p>Please note that <span class="highlight-red">all observations are automatically submitted at the end of each interval</span>.  Therefore, no action is required to store the results of an interval.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
      <hr class="hr-sub-divide">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
      <h3>Start Timer</h3>
      <p>When you are ready to begin observing, click the "Start Timer" button. When clicked, the timer will start counting down by the interval you included in the sessions create form.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
      <div class="tutorial-image-container-single">
        <p class="image-caption">Start Timer</p>
        <img src="https://cloud.githubusercontent.com/assets/13546265/25744399/bcec05c0-3167-11e7-911e-487aec6fa5e2.png" alt="Start Timer">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
      <hr class="hr-sub-divide">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
      <h3>Time Interval Indicators</h3>
      <p>There are two indicators for the time remaining in a given interval. The first lists the number of seconds remaining before the response is recorded. The second is a time bar which decreases in size as the interval comes to an end. This bar also changes color from green to red depending on the time remaining in an interval.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
      <div class="tutorial-image-container-single">
        <p class="image-caption">Time Bar &amp; Countdown</p>
        <img src="https://cloud.githubusercontent.com/assets/13546265/25786396/5db5f56e-3362-11e7-9240-702a7e71de10.png" alt="Time Interval Indicators">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
      <hr class="hr-sub-divide">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
      <h3>Target Student vs. Random Peer Indicators</h3>
      <p>BOSS requires a random peer to be observed every 5th interval. There are two indicators to help the observer monitor which student to observe. First, either "Observing: Target Student" or "Observing: Random Peer" will appear above the timer countdown. In addition, the background color changes depending on the student being observed.  If the user is observing the target student during an interval, the written indicator will have a black font and white background.  <span class="highlight-red">If the user is observing the random peer, however, both the written indicator and background color will change to orange</span>. This decreases the likelihood that the observer will make the common mistake of observing the wrong student during a given interval.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-5">
      <div class="tutorial-image-container">
        <p class="image-caption">Observing Target Student</p>
        <img src="https://cloud.githubusercontent.com/assets/13546265/25787120/ae344a18-336c-11e7-812c-f90c7ec784a7.png" alt="Target vs. Random Peer Indicators">
      </div>
    </div>
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10 col-md-5 col-md-offset-0">
      <div class="tutorial-image-container">
        <p class="image-caption">Observing Random Peer</p>
        <img src="https://cloud.githubusercontent.com/assets/13546265/25786474/d1a276ea-3363-11e7-9b0a-4e6867ecaba3.png" alt="Target vs. Random Peer Indicators">
      </div>
    </div>
  </div>  <div class="row">
      <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
        <hr class="hr-sub-divide">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
        <h3>Selecting Behavior Type(s) During an Interval</h3>
        <p>A behavior type (i.e. off-task motor, actively engaged, etc.) can have two possible values - yes and no.  "Yes" implies that a behavior type was observed during a time interval.  "No" implies that
          the behavior was not seen.  <span class="highlight-red">It is important to note that at the begining of <u>every time interval</u>, the value of each behavior type resets to "No".</span>  "No" is also the default value and every behavior type will receive a value of "No" unless the user changes a value to "Yes".</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-5">
        <div class="tutorial-image-container">
          <p class="image-caption">Default Value is "No"</p>
          <img src="https://cloud.githubusercontent.com/assets/13546265/25790682/cec3265c-3388-11e7-9720-54e4cf291106.png" alt="Updating Submission - Step 1">
        </div>
      </div>
      <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10 col-md-5 col-md-offset-0">
        <div class="tutorial-image-container">
          <p class="image-caption">User Observed "Off-Task Verbal" and clicks "Yes"</p>
          <img src="https://cloud.githubusercontent.com/assets/13546265/25790681/cec2f4ac-3388-11e7-9c64-979d7bf6aecc.png" alt="Updating Submission - Step 2">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-5">
        <div class="tutorial-image-container">
          <p class="image-caption">User Selects "Off-Task Passive" by Clicking "Yes"</p>
          <img src="https://cloud.githubusercontent.com/assets/13546265/25790683/cec6dd9c-3388-11e7-9ae0-f1e0ebca8953.png" alt="Updating Submission - Step 3">
        </div>
      </div>
      <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10 col-md-5 col-md-offset-0">
        <div class="tutorial-image-container">
          <p class="image-caption">User Deselects "Off-Task Passive" by Clicking "No"</p>
          <img src="https://cloud.githubusercontent.com/assets/13546265/25790684/ced58f86-3388-11e7-9a43-4f7c01902ca9.png" alt="Updating Submission - Step 4">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
        <div class="tutorial-image-container-single">
          <p class="image-caption">All Values Submitted as "No" with Exception to "Off-Task Verbal"</p>
          <img src="https://cloud.githubusercontent.com/assets/13546265/25790685/ced605ce-3388-11e7-838f-5dbf3efcb0ce.png" alt="Updating Submission - Step 4">
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
      <hr class="hr-sub-divide">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
      <h3>Updating the Last Submission</h3>
      <p>If an error is made by the observer when recording the observed behavior, the user can update the previous interval's submission.  Note that <span class="highlight-red">a user is able to update the last submission without affecting the current interval or interrupting the observation session.</span></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
      <h4>Desktop Version</h4>
      <p>Updating the previous interval's entry can be accomplished by clicking the "edit" button for the last submission table. At this point, the observer can check a box if a behavior was observed, or uncheck a box if the behavior was not observed. <span class="highlight-red">In order for the update to be saved, the observer must click the "submit" button below the update form.</span></p>
        <p>Update Example With Screenshots
        <ol>
          <li>Click edit at bottom of last submission table</li>
          <li>View Options - In this example, off-task motor and off-task verbal are selected.</li>
          <li>Select/Deselect Categories - We wish to change the submission from off-task motor and off-task verbal to passively engaged and off-task verbal.  Because off-task
              verbal is already selected, we only need to select passively engaged and off-task verbal, both of which can be accomplished by simply clicking the box in the appropriate row.
              Lastly, we must click "Submit Update" for the changes to be saved.
            </li>
        </ol>
      </p>
    </div>


    <div class="row">
      <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-5">
        <div class="tutorial-image-container">
          <p class="image-caption">Step 1 - Click Edit</p>
          <img src="https://cloud.githubusercontent.com/assets/13546265/25786842/4d41f7a8-3369-11e7-8549-0c6c0781deb7.png" alt="Updating Submission - Step 1">
        </div>
      </div>
      <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10 col-md-5 col-md-offset-0">
        <div class="tutorial-image-container">
          <p class="image-caption">Step 2 - View Options</p>
          <img src="https://cloud.githubusercontent.com/assets/13546265/25786845/4d4948dc-3369-11e7-9f4a-6396b5fa534b.png" alt="Updating Submission - Step 2">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-5">
        <div class="tutorial-image-container">
          <p class="image-caption">Step 3 - Select/Deselect Category</p>
          <img src="https://cloud.githubusercontent.com/assets/13546265/25786843/4d45db70-3369-11e7-9e3d-a669248aeb37.png" alt="Updating Submission - Step 3">
        </div>
      </div>
      <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10 col-md-5 col-md-offset-0">
        <div class="tutorial-image-container">
          <p class="image-caption">Update Confirmation</p>
          <img src="https://cloud.githubusercontent.com/assets/13546265/25786844/4d461c8e-3369-11e7-87b0-1e1da1c9f723.png" alt="Updating Submission - Step 4">
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
      <hr class="hr-sub-divide">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
      <h4>Mobile Version</h4>
      <p>Updating the last entry on a phone or table requires a user to click the
      "Edit Last Submission" button.  When clicked, a dropdown will appear and the observer can update the last entry by selecting or deselecting a box.  Please note
      that <span class="highlight-red">an observer must click the "Submit" button in order for the update to be saved</span>.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-3">
      <div class="tutorial-image-container-mobile">
        <p class="image-caption">Original Submission</p>
        <img src="https://cloud.githubusercontent.com/assets/13546265/25791299/639a26d2-338d-11e7-9f7f-f4ac7d5d41ba.png" alt="Updating Submission - Step 1">
      </div>
    </div>
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-0 col-sm-3 col-md-3 col-md-offset-0">
      <div class="tutorial-image-container-mobile">
        <p class="image-caption">Edit Last Submission Button</p>
        <img src="https://cloud.githubusercontent.com/assets/13546265/25791300/639ab638-338d-11e7-9684-692e196c6699.png" alt="Updating Submission - Step 2">
      </div>
    </div>
      <div class="col-xs-12 col-xs-offset-0 col-sm-offset-0 col-sm-3 col-md-offset-0 col-md-3">
        <div class="tutorial-image-container-mobile">
          <p class="image-caption">Hide Dropdown</p>
          <img src="https://cloud.githubusercontent.com/assets/13546265/25791297/6396bce0-338d-11e7-99c2-1809659f5731.png" alt="Updating Submission - Step 3">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-3">
        <div class="tutorial-image-container-mobile">
          <p class="image-caption">Edit Dropdown</p>
          <img src="https://cloud.githubusercontent.com/assets/13546265/25791301/639c3c6a-338d-11e7-8cc2-ee22930178e4.png" alt="Updating Submission - Step 4"></div>
      </div>
      <div class="col-xs-12 col-xs-offset-0 col-sm-offset-0 col-sm-3 col-md-3 col-md-offset-0">
        <div class="tutorial-image-container-mobile">
          <p class="image-caption">Original Submission Values</p>
          <img src="https://cloud.githubusercontent.com/assets/13546265/25791302/639c3f30-338d-11e7-9119-e62038e1dd4e.png" alt="Updating Submission - Step 3">
        </div>
      </div>
        <div class="col-xs-12 col-xs-offset-0 col-sm-offset-0 col-sm-3 col-md-offset-0 col-md-3">
          <div class="tutorial-image-container-mobile">
            <p class="image-caption">Changing &amp; Submitting Values</p>
            <img src="https://cloud.githubusercontent.com/assets/13546265/25791298/63992d4a-338d-11e7-9c84-7995d6309496.png" alt="Updating Submission - Step 4">
          </div>
        </div>
      </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
      <hr class="hr-sub-divide">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
      <h3>Blank Submission Warning</h3>
      <p>The web application warns a user if an interval was submitted without any category being selected.  The warning differs depending on whether the observer is using the desktop or mobile version.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
      <div class="tutorial-image-container-single">
        <p class="image-caption">Blank Submission Warning</p>
        <img src="https://cloud.githubusercontent.com/assets/13546265/25786554/62c735b0-3365-11e7-801e-631674f8b800.png" alt="No Submission Warning">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
      <hr class="hr-sub-divide">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
      <h4>Desktop Version</h4>
      <p>If an interval ends without at least one category being selected, <span class="highlight-red">the background of the last entry table turns red</span>. This increases the likelihood that an observe will notice that nothing was submitted for a previous interval. If this occurs, the observer can update the last submission as described above.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-5">
      <div class="tutorial-image-container">
        <p class="image-caption">Step 1</p>
        <img src="https://cloud.githubusercontent.com/assets/13546265/25786551/62b52b40-3365-11e7-984a-d3c2c44c1f2f.png" alt="No Submission Step 1">
      </div>
    </div>
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10 col-md-5 col-md-offset-0">
      <div class="tutorial-image-container">
        <p class="image-caption">Step 2</p>
        <img src="https://cloud.githubusercontent.com/assets/13546265/25786553/62c601fe-3365-11e7-987e-7974697c13d6.png" alt="No Submission Step 2">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-5">
      <div class="tutorial-image-container">
        <p class="image-caption">Step 3</p>
        <img src="https://cloud.githubusercontent.com/assets/13546265/25786552/62b5ba24-3365-11e7-93d4-2257006ed712.png" alt="No Submission Step 3">
      </div>
    </div>
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10 col-md-5 col-md-offset-0">
      <div class="tutorial-image-container">
        <p class="image-caption">Update Submission Confirmation</p>
        <img src="https://cloud.githubusercontent.com/assets/13546265/25786555/62c8563e-3365-11e7-84de-fa6f8ece59f0.png" alt="No Submission Confirmation">
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
      <hr class="hr-sub-divide">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
      <h4>Mobile Version</h4>
      <p>For the mobile version, the user is notified by the color of the button for updating the last submission.  Specifically, <span class="highlight-red">the "Edit Last Submission" button turns red</span>.  If this occurs, the observer can update the last submission as described above.</p>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-3">
      <div class="tutorial-image-container-mobile">
        <p class="image-caption">Valid Submission - Blue Button</p>
        <img src="https://cloud.githubusercontent.com/assets/13546265/25792163/e7629710-3392-11e7-8058-3e3d5735a53d.png" alt="Updating Submission - Step 1">
      </div>
    </div>
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-0 col-sm-3 col-md-3 col-md-offset-0">
      <div class="tutorial-image-container-mobile">
        <p class="image-caption">Blank Submission - Red Button</p>
        <img src="https://cloud.githubusercontent.com/assets/13546265/25792159/e760c250-3392-11e7-9011-a22db2295bbb.png" alt="Updating Submission - Step 2">
      </div>
    </div>
      <div class="col-xs-12 col-xs-offset-0 col-sm-offset-0 col-sm-3 col-md-offset-0 col-md-3">
        <div class="tutorial-image-container-mobile">
          <p class="image-caption">Edit Button to Update</p>
          <img src="https://cloud.githubusercontent.com/assets/13546265/25792161/e7616624-3392-11e7-996e-540684e0b0f1.png" alt="Updating Submission - Step 3">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-3">
        <div class="tutorial-image-container-mobile">
          <p class="image-caption">Result of Clicking Edit</p>
          <img src="https://cloud.githubusercontent.com/assets/13546265/25792160/e7612fd8-3392-11e7-9dd7-61a686851686.png" alt="Updating Submission - Step 4"></div>
      </div>
      <div class="col-xs-12 col-xs-offset-0 col-sm-offset-0 col-sm-3 col-md-3 col-md-offset-0">
        <div class="tutorial-image-container-mobile">
          <p class="image-caption">Select &amp; Submit Observation From Last Interval</p>
          <img src="https://cloud.githubusercontent.com/assets/13546265/25792162/e761c998-3392-11e7-9393-84c3ae8dec3b.png" alt="Updating Submission - Step 3">
        </div>
      </div>
        <div class="col-xs-12 col-xs-offset-0 col-sm-offset-0 col-sm-3 col-md-offset-0 col-md-3">
          <div class="tutorial-image-container-mobile">
            <p class="image-caption">Post Update Confirmation - Blue Button</p>
            <img src="https://cloud.githubusercontent.com/assets/13546265/25792163/e7629710-3392-11e7-8058-3e3d5735a53d.png" alt="Updating Submission - Step 4">
          </div>
        </div>
      </div>

  <div class="row btn-top-margin">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10 max-xs">
      <div class="dashboard-container well">
        <button id="dashboard-home-btn" type="button" class="btn btn-primary">View Students</button>
      </div>
    </div>
  </div>
