<div class="new-observation-landing-page">

<h2> Click the Button To Start Observation </h2>

<br><br>

<div class="observation-landing-btn-container">
  <input id="obs-landing-begin-observation" class="current" type="button" value="Begin Session" data-current-session-id="" data-current-student-id="">
</div>

</div>
<br><br>
<div class="dashboard-container">
  <button id="dashboard-home-btn" type="button" class="btn btn-primary">View Dashboard</button>
  <button id="dashboard-new-session-btn" type="button" class="btn btn-success">Create Session</button>
</div>
