<div class="container full-observation-container">
  <div class="timer-container">
    <div class="row">
      <div class="col-xs-4">

      </div>

      <div class="col-xs-4">
        <div class="session-time-container">
          <p>Time Remaining for Session: <span id="observation-timer"></span></p>
          <button id="observation-timer-btn">Observation Timer Button</button>
        </div>
      </div>

      <div class="col-xs-4">

      </div>
    </div>

    <!-- <div class="session-time-container">
      <p>Time Remaining for Session: <span id="observation-timer"></span></p>
      <button id="observation-timer-btn">Observation Timer Button</button>
    </div> -->

    <div class="interval-confirmation-container">
      <div id="interval-submitted-successfully">Submitted</div>
    </div>

    <div class="interval-time-count-container">
      <p>Observing: <span id="student-observed">Target Student</span></p>
      <p class="time-until-submission">Time Until Submission: <span id="interval-timer"></span>
        <!-- <p class="interval-remaining">Interval: <span class="interval-count">1</span> / <span id="interval-total"></span></p> -->
        <p class="cancel-session-notification">Your Session has been cancelled</p>

        <button id="begin-session-btn" class="btn btn-success btn-md">Start Timer!</button>
        <p class="session-completed">Your session has been completed. Return to the Dashboard to view results</p>
        <button id="session-completed-btn" class="btn btn-success btn-md session-completed">Return to Dashboard</button>
    </div>
  </div>



  <form class="form observation-form" id="new-observation-form" name="new-observation-form">
    <fieldset>

      <div class="row">
        <div class="col-xs-12">
          <legend class="legend-gradient" id="interval-remaining">Interval: <span class="interval-count">1</span> / <span id="interval-total"></span></legend>
          <!-- <legend id="legend-gradient"><span id="interval-submitted-successfully">Submitted</span></legend> -->
          <div class="after-completion"></div>
          <input class="current" name="observation[student_id]" id="create-observation-stud-id" type="hidden" data-current-student-id="" data-current-session-id="">
          <input class="current" name="observation[session_id]" id="create-observation-session-id" type="hidden" data-current-student-id="" data-current-session-id="">
          <input name="observation[obs_num]" id="create-observation-number" type="hidden" value="1">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-sm-4">
          <!-- $("input[type='radio'].switch-input:checked").val(); -->
          <div class="switch-container">
            <p>AET</p>
            <div class="switch switch-red">
              <input type="radio" class="switch-input no-selected" name="observation[aet]" value="false" checked>
              <label class="switch-label switch-label-off">No</label>
              <input type="radio" class="switch-input yes-selected" name="observation[aet]" value="true">
              <label class="switch-label switch-label-on">Yes</label>
              <span class="switch-selection"></span>
            </div>
          </div>

          <div class="switch-container">
            <p>PET</p>
            <div class="switch switch-red">
              <input type="radio" class="switch-input no-selected" name="observation[pet]" value="false" checked>
              <label class="switch-label switch-label-off">No</label>
              <input type="radio" class="switch-input yes-selected" name="observation[pet]" value="true">
              <label class="switch-label switch-label-on">Yes</label>
              <span class="switch-selection"></span>
            </div>
          </div>
        </div>

        <div class="hidden-xs col-sm-4">
          <div class="last-submission-container">
          </div>
        </div>

        <div class="col-xs-6 col-sm-4">

          <div class="switch-container">
            <p>OFT-M</p>
            <div class="switch switch-red">
              <input type="radio" class="switch-input no-selected" name="observation[oft_m]" value="false" checked>
              <label class="switch-label switch-label-off">No</label>
              <input type="radio" class="switch-input yes-selected" name="observation[oft_m]" value="true">
              <label class="switch-label switch-label-on">Yes</label>
              <span class="switch-selection"></span>
            </div>
          </div>

          <div class="switch-container">
            <p>OFT-V</p>
            <div class="switch switch-red">
              <input type="radio" class="switch-input no-selected" name="observation[oft_v]" value="false" checked>
              <label class="switch-label switch-label-off">No</label>
              <input type="radio" class="switch-input yes-selected" name="observation[oft_v]" value="true">
              <label class="switch-label switch-label-on">Yes</label>
              <span class="switch-selection"></span>
            </div>
          </div>

          <div class="switch-container">
            <p>OFT-P</p>
            <div class="switch switch-red">
              <input type="radio" class="switch-input no-selected" name="observation[oft_p]" value="false" checked>
              <label class="switch-label switch-label-off">No</label>
              <input type="radio" class="switch-input yes-selected" name="observation[oft_p]" value="true">
              <label class="switch-label switch-label-on">Yes</label>
              <span class="switch-selection"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="hidden-xs col-sm-12">
          <div class="form-group obs-comment-container">
            <label>Interval Comment</label>
            <input id="create-obs-comment" class="form-control" name="observation[obs_comment]" placeholder="Enter Interval Comment Here" type="text">
          </div>
          <div class="cancel-session-bt-container">
            <button id="cancel-session-btn" class="btn btn-warning btn-md">Cancel Session</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="field-button-container">
            <input name="submit" class="current" id="submit-observation-btn" type="submit" value="Submit Observation" data-current-student-id="" data-current-session-id="">
          </div>
        </div>
      </div>
    </fieldset>
  </form>
  <!--
  <form class="form observation-form" id="new-observation-form" name="new-observation-form">
    <fieldset>
      <legend>Interval Recorder</legend>
      <div class="after-completion"></div>
      <input class="current" name="observation[student_id]" id="create-observation-stud-id" type="hidden" data-current-student-id="" data-current-session-id="">
      <input class="current" name="observation[session_id]" id="create-observation-session-id" type="hidden" data-current-student-id="" data-current-session-id="">
      <input name="observation[obs_num]" id="create-observation-number" type="hidden" value="1">

      <table class="entire-form-table">
        <tr>
          <td class="observation-form-side observation-form-side-left" rowspan="3">
            <p class="field-description">AET</p>
            <input name="observation[aet]" type="hidden" value="false">
            <input name="observation[aet]" class="field-checkbox" placeholder="AET" type="checkbox" value="true">
          </td>
          <td class="observation-form-center" rowspan="6">
            <div class="last-submission-container">
            </div>
          </td>
          <td class="observation-form-side observation-form-side-right" rowspan="2">
            <p class="field-description">OFT_M</p>
            <input name="observation[oft_m]" type="hidden" value="false">
            <input name="observation[oft_m]" class="field-checkbox" placeholder="OFT_M" type="checkbox" value="true">
          </td>
        </tr>
        <tr>
        </tr>
        <tr>
          <td class="observation-form-side observation-form-side-right" rowspan="2">
            <p class="field-description">OFT_V</p>
            <input name="observation[oft_v]" type="hidden" value="false">
            <input name="observation[oft_v]" class="field-checkbox" placeholder="OFT_V" type="checkbox" value="true">
          </td>
        </tr>
        <tr>
          <td class="observation-form-side observation-form-side-left" rowspan="3">
            <p class="field-description">PET</p>
            <input name="observation[pet]" type="hidden" value="false">
            <input name="observation[pet]" class="field-checkbox" placeholder="PET" type="checkbox" value="true">
          </td>
        </tr>
        <tr>
          <td class="observation-form-side observation-form-side-right" rowspan="2">
            <p class="field-description">OFT_P</p>
            <input name="observation[oft_p]" type="hidden" value="false">
            <input name="observation[oft_p]" class="field-checkbox" placeholder="OFT_P" type="checkbox" value="true">
          </td>
        </tr>
        <tr>
        </tr>
      </table>

      <div class="form-group obs-comment-container">
        <label> </label>
        <input id="create-obs-comment" class="form-control" name="observation[obs_comment]" placeholder="Enter Interval Comment Here" type="text">
      </div>
      <div class="field-button-container">
        <input name="submit" class="current" id="submit-observation-btn" type="submit" value="Submit Observation" data-current-student-id="" data-current-session-id="">
      </div>
    </fieldset>
  </form> -->
  <br><br>
  <div class="dashboard-container">
    <button id="dashboard-home-btn" type="button" class="btn btn-primary">View Dashboard</button>
  </div>
