<div class="row">
  <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
    <h1>BOSS Tutorial</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
    <div>
      <h2>Getting Started</h3>
      <ol>
        <li>Create a Student</li>
        <li>Create a Session</li>
        <li>Collect Observations</li>
        <li>Generate Report</li>
      </ol>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
    <hr class="hr-divide">
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-5">
      <h2>Create a Student</h2>
      <p>All sessions and observations must be associated with a student. Therefore, the first step is to create a student. When completing the create student form, a user must include a student's first name and last name. All other fields are optional.</p>
    </div>
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-0 col-sm-5">
      <div class="tutorial-image-container">
        <p class="image-caption">Create a Student</p>
        <img src="https://cloud.githubusercontent.com/assets/13546265/25741847/a959b974-315a-11e7-831e-ecd905105fbb.png" alt="Create Student Screenshot">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
      <hr class="hr-divide">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-5">
      <h2>Create a Session</h2>
      <p>After a student record has been created, a user needs to create a session before collecting observations. There are two ways in which a session can be created.</p>
      <h3>Create Session - Option 1</h3>
      <p>First, you can view the student record for the student whom you wish to observe. Then, select the "Create Session" button below the student record (as indicated in the image).</p>
    </div>
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-0 col-sm-5">
      <div class="tutorial-image-container">
        <p class="image-caption">Create Session - Option 1</p>
        <img src="https://cloud.githubusercontent.com/assets/13546265/25742308/d739d02a-315c-11e7-89de-74d61990e920.png" alt="Create Session Option 1">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-5">
      <h3>Create Session - Option 2</h3>
      <p>The second option is to go to the Student Record homepage where all student records are listed. Then, two steps need to be completed</p>
      <p>First, click on the "Create Sessions" button (Option 2 - Part A).</p>
      <p>After you complete this task, you will see a page which offers two options. The first is to create a student, which is required if there is no student record created for individual you will be observing. However, if a student record already exists,
        you can click "Existing Student". This display a list of all student records. From here, simply click "Select Student" for the row of the studen whom you will be observing (Option 2 - Part B).</p>
    </div>
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-0 col-sm-5">
      <div class="tutorial-image-container">
        <p class="image-caption">Create Session - Option 2A</p>
        <img src="https://cloud.githubusercontent.com/assets/13546265/25742658/6fcf66aa-315e-11e7-996b-0d438be16244.png" alt="Create Session Option 2a">
      </div>
      <div class="tutorial-image-container">
        <p class="image-caption">Create Session - Option 2B</p>
        <img src="https://cloud.githubusercontent.com/assets/13546265/25744197/8a9fa212-3166-11e7-8466-2c162d69f5ae.png" alt="Create Session Option 2b">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
      <hr class="hr-divide">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
      <h2>Collect Observations</h3>
      <p>After creating a session record, you are ready to start observing.</p>
      <h3>Submitting an Observation</h3>
      <p>All <span class="highlight-red">observations are automatically submitted at the end of a session</span>. In other words, no action is required in order to record an observation</span> because of the built-in auto-submit feature, which occurs when no
        time remains in a given interval.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-5">
      <h3>Start Timer</h3>
      <p>When you are ready to begin, click the "Start Timer" button to begin. At this point, the timer will start counting down by the interval you included in the sessions create form.</p>
    </div>
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-0 col-sm-5">
      <div class="tutorial-image-container">
        <p class="image-caption">Need Image</p>
        <img src="https://cloud.githubusercontent.com/assets/13546265/25744399/bcec05c0-3167-11e7-911e-487aec6fa5e2.png" alt="Start Timer">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-5">
      <h3>Time Interval Indicators</h3>
      <p>There are two indicators for time remaining in a given interval. The first lists the number of seconds remaining before the response is recorded. The second is a time bar which decreases in size as the interval comes to an end. This bar also changes
        color from green to red depending on the time remaining in an interval.</p>
    </div>
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-0 col-sm-5">
      <div class="tutorial-image-container">
        <p class="image-caption">Need Image</p>
        <img src="https://cloud.githubusercontent.com/assets/13546265/25744197/8a9fa212-3166-11e7-8466-2c162d69f5ae.png" alt="Time Interval Indicators">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-5">
      <h3>Target vs. Random Peer Indicators</h3>
      <p>BOSS requires that a random peer be observed every 5th interval. There are two indicators to help the observer montor which student to observe. First, either "Observing: Target Student" or "Observing: Random Peer" will appear above the timer countdown.
        In addition, <span class="highlight-red">the background color changes to orange
        whenever a random peer is the student being observed during an interval</span>. This decreases the likelihood that the observer will make an error in observing the wrong student during an interval.</p>
    </div>
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-0 col-sm-5">
      <div class="tutorial-image-container">
        <p class="image-caption">Need Image</p>
        <img src="https://cloud.githubusercontent.com/assets/13546265/25744197/8a9fa212-3166-11e7-8466-2c162d69f5ae.png" alt="Target vs. Random Peer Indicators">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-5">
      <h3>Updating a Submission</h3>
      <p>If an error is made by the observer when recording the observed behavior, the user can update the previous interval's submission. This can be accomplished by clicking the "edit" button for the last submission table. At this point, the observe
        can check a box if a behavior was observed, or uncheck a box if the behavior was not observed.</p>
    </div>
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-0 col-sm-5">
      <div class="tutorial-image-container">
        <p class="image-caption">Updating a Submission</p>
        <img src="https://cloud.githubusercontent.com/assets/13546265/25744197/8a9fa212-3166-11e7-8466-2c162d69f5ae.png" alt="Updating a Submission">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-5">
      <h3>No Submission Warning</h3>
      <p>If an interval ends without at least one category being selected, the background for the last entry table turns red. This increases the likelihood that an observe will notice that nothing was submitted for a previous interval.</p>
    </div>
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-0 col-sm-5">
      <div class="tutorial-image-container">
        <p class="image-caption">Need Image</p>
        <img src="https://cloud.githubusercontent.com/assets/13546265/25744197/8a9fa212-3166-11e7-8466-2c162d69f5ae.png" alt="No Submission Warning">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
      <hr class="hr-divide">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
      <h2>Generate Report</h2>
      <p>If an interval ends without at least one category being selected, the background for the last entry table turns red. This increases the likelihood that an observe will notice that nothing was submitted for a previous interval.</p>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-5">
      <h3>Viewing Report</h3>
      <p>After a session is completed, a session report can be viewed in two ways. First, the button "View Session Report" appears on the screen after the last interval has been submitted. The generated report can also be viewed under the student's session
        record.
      </p>
    </div>
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-0 col-sm-5">
      <div class="tutorial-image-container">
        <p class="image-caption">Need Image</p>
        <img src="https://cloud.githubusercontent.com/assets/13546265/25744197/8a9fa212-3166-11e7-8466-2c162d69f5ae.png" alt="Viewing Report">
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-5">
      <h3>Option 1</h3>
      <p>Option 1 Description</p>
    </div>
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-0 col-sm-5">
      <div class="tutorial-image-container">
        <p class="image-caption">Generate Report - Option 1</p>
        <img src="https://cloud.githubusercontent.com/assets/13546265/25744399/bcec05c0-3167-11e7-911e-487aec6fa5e2.png" alt="Generate Report - Option 1">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-5">
      <h3>Option 2</h3>
      <p>Option 2 Description</p>
    </div>
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-0 col-sm-5">
      <div class="tutorial-image-container">
        <p class="image-caption">Generate Report - Option 2</p>
        <img src="https://cloud.githubusercontent.com/assets/13546265/25744576/9e67c854-3168-11e7-9c41-632bfd27765e.png" alt="Generate Report - Option 2">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
      <div class="center well">
        <button class="btn btn-warning tutorial-btn">Close Tutorial</button>
      </div>
    </div>
  </div>
