<div class="row">
  <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
    <h1>BOSS Tutorial</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
    <div>
      <h2>Getting Started</h3>
      <ol>
        <li>Create a Student</li>
        <li>Create a Session</li>
        <li>Collect Observations</li>
        <li>Generate Report</li>
      </ol>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-5">
      <h3>Create a Student</h3>
      <p>All sessions and observations must be associated with a student.  Therefore, the first step is to create a student.  When completing the create student form, a user must include a student's first name and last name.  All other fields are optional.</p>
  </div>
  <div class="col-xs-12 col-xs-offset-0 col-sm-offset-0 col-sm-5">
    <div class="tutorial-image-container">
      <p class="image-caption">Create a Student</p>
      <img src="https://cloud.githubusercontent.com/assets/13546265/25741847/a959b974-315a-11e7-831e-ecd905105fbb.png" alt="Create Student Screenshot">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-5">
      <h3>Create a Session</h3>
      <p>After a student record has been created, a user needs to create a session before collecting observations.  There
         are two ways in which a session can be created.
         <ol>
           <li>
             First, you can view the student record for the student whom you
              wish to observe.  Then, select the "Create Session" button below the student record (as indicated in the image)
           </li>
           <li>
             The second option is to go to the Student Record homepage where all student records are listed.  Then, two steps need to be completed
             <ol>
               <li>First, click on the "Create Sessions" button (Option 2 - Part A).</li>
               <li>After you complete this task, you will see a page
                 which offers two options.  The first is to create a student, which is required if there is no student record created for individual you will be observing.
                 However, if a student record already exists, you can click "Existing Student".  This display a list of all student records.  From here, simply click "Select Student" for the
                 row of the studen whom you will be observing (Option 2 - Part B).</li>
             </ol>
           </li>
         </ol>
       </p>

       <p>Regardless of the method used, a session must be associated with a student record.  For Option 1, the session will automatically be associated with the
         student record you were viewing.  For Option 2, you will be asked to select a student from a list.</p>
       <p>Once a session has been associated with a student, you will be prompted to complete a session form.</p>

       <p class="underline">Session Form</p>
       <p>The create session form is where a user lists details about a session and is able to customize how data is collected.  The session setting, session
         task, interval time, and number of intervals, are all required fields.  Note that the total observation time is calculated at the bottom of the form.
      </p>
  </div>
  <div class="col-xs-12 col-xs-offset-0 col-sm-offset-0 col-sm-5">
    <div class="tutorial-image-container">
      <p class="image-caption">Option 1</p>
      <img src="https://cloud.githubusercontent.com/assets/13546265/25742308/d739d02a-315c-11e7-89de-74d61990e920.png" alt="Create Session Option 1">
    </div>
    <hr class="hr-divide">
    <div class="tutorial-image-container">
      <p class="image-caption">Option 2 - Part A</p>
      <img src="https://cloud.githubusercontent.com/assets/13546265/25742658/6fcf66aa-315e-11e7-996b-0d438be16244.png" alt="Create Session Option 2">
    </div>
    <div class="tutorial-image-container">
      <p class="image-caption">Option 2 - Part B</p>
      <img src="https://cloud.githubusercontent.com/assets/13546265/25744197/8a9fa212-3166-11e7-8466-2c162d69f5ae.png" alt="Create Session Option 2">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-5">
      <h3>Collect Observations</h3>
      <p>After creating a session record, you are ready to start observing.</p>
      <p>When you are ready to start, click the "Start Timer" button to begin.  At this point, the timer will start counting down by the interval you included in the sessions create form.</p>
      <p class="underline">Time Interval Indicators</p>
      <p>There are two indicators for time remaining in a given interval.  The first lists the number of seconds remaining before the response is recorded.  The second is a time bar which decreases in size as the interval comes to an end.  This bar also changes color from green to red depending on the time remaining in an interval.</p>
  </div>
  <div class="col-xs-12 col-xs-offset-0 col-sm-offset-0 col-sm-5">
    <div class="tutorial-image-container">
      <p class="image-caption">Start Timer</p>
      <img src="https://cloud.githubusercontent.com/assets/13546265/25744399/bcec05c0-3167-11e7-911e-487aec6fa5e2.png" alt="Start Timer Image">
    </div>
    <hr class="hr-divide">
    <div class="tutorial-image-container">
      <p class="image-caption">Time Interval Indicators</p>
      <img src="https://cloud.githubusercontent.com/assets/13546265/25744576/9e67c854-3168-11e7-9c41-632bfd27765e.png" alt="Start Timer Image">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
    <div class="center well">
      <button class="btn btn-warning tutorial-btn">Close Tutorial</button>
    </div>
  </div>
</div>
