<div class="dashboard-description-container">
  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
      <h2>Welcome!</h2>
      <p>To view an existing student and session reports, view the dashboard. Otherwise, click "create session" to get started.</p>
      <div class="dashboard-container">
        <button id="dashboard-home-btn" type="button" class="btn btn-primary">View Students</button>
        <button id="dashboard-new-session-btn" type="button" class="btn btn-success">Create Session</button>
      </div>
    </div>
  </div>
</div>
