<div class="dashboard-container">
  <h2>DashBoard Home</h2>
  <input id="dashboard-home-btn" type="button" value="View Records">
  <input id="dashboard-new-session-btn" type="button" value="Create Record">
</div>
