<div class="dashboard-description-container">
  <h2>Welcome!</h2>
  <p>To view an existing student and session reports, view the dashboard. Otherwise, click "create session" to get started.</p>
</div>
<div class="dashboard-container">
  <button id="dashboard-home-btn" type="button" class="btn btn-primary">View Dashboard</button>
  <button id="dashboard-new-session-btn" type="button" class="btn btn-primary">Create Session</button>
</div>
