<div class="dashboard-container">
  <button id="dashboard-home-btn" type="button" class="btn btn-primary">View Dashboard</button>
  <button id="dashboard-new-session-btn" type="button" class="btn btn-success">Create Session</button>
</div>
