<div class="dashboard-description-container">
  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
      <h2>Required Steps</h3>
      <ol>
        <li>Create a Student</li>
        <li>Create a Session</li>
        <li>Observe Student</li>
        <li>Generate Report</li>
      </ol>
      <p>To view an existing student or session reports, click "View Students". Otherwise, select "Create Session" to get started.</p>
      <div class="dashboard-container">
        <button id="dashboard-home-btn" type="button" class="btn btn-primary">View Students</button>
        <button id="dashboard-new-session-btn" type="button" class="btn btn-success">Create Session</button>
      </div>
    </div>
  </div>
</div>
