<div class="dashboard-container">
  <h2>DashBoard Home</h2>
  <input id="dashboard-home-btn" type="button" value="Dashboard Home">
  <input id="dashboard-new-session-btn" type="button" value="Create Session">
</div>
