<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-11 col-md-10 col-lg-9">
      <h1>Create New Session</h1>
      <p>All observation sessions must be associated with a student record. If your student already has a record, please click "Existing Student" below. Otherwise, please click "New Student" to create a student record.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="dashboard-new-session-home">
        <div class="new-session-home-container btn-bottom-margin">
          <button id="new-session-new-student" class="btn btn-info" type="button">New Student</button>
          <button id="new-session-existing-student" class="btn btn-info" type="button">Existing Student</button>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-container well">
    <button id="dashboard-home-btn" type="button" class="btn btn-primary">View Dashboard</button>
  </div>
</div>
