
<div class="dashboard-new-session-home">
  <div class="new-session-home-container">
    <div class="new-session-existing-student-container">
      <input id="new-session-new-student" type="button" value="New Student">
    </div>
    <div class="new-session-new-student-container">
      <input id="student-record-view-sessions" type="button" value="Existing Student">
    </div>
  </div>
</div>
