
<div class="dashboard-new-session-home">
  <div class="new-session-home-container">
    <div class="new-session-existing-student-container">
      <input id="new-session-new-student" type="button" value="New Student Record">
    </div>
    <div class="new-session-new-student-container">
      <input id="new-session-existing-student" type="button" value="Existing Student">
    </div>
  </div>
</div>
<br><br>
<div class="dashboard-container">
  <input id="dashboard-home-btn" type="button" value="Existing Records">
  <!-- <input id="dashboard-new-session-btn" type="button" value="Create Session"> -->
</div>
