
  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10 col-md-10 col-md-offset-1 col-lg-9 col-lg-offset-1">
      <h1>Create New Session</h1>
      <p>All observation sessions must be associated with a student record. If your student already has a record in the database, please click "Existing Student" below. Otherwise, please select "New Student" to create a student record.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10 col-md-10 col-md-offset-1 col-lg-9 col-lg-offset-1">
      <div class="dashboard-new-session-home">
        <div class="new-session-home-container btn-bottom-margin">
          <button id="new-session-new-student" class="btn btn-info" type="button">New Student</button>
          <button id="new-session-existing-student" class="btn btn-info" type="button">Existing Student</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10 col-md-10 col-md-offset-1 col-lg-9 col-lg-offset-1">
      <div class="dashboard-container well">
        <button id="dashboard-home-btn" type="button" class="btn btn-primary">View Students</button>
      </div>
    </div>
  </div>
