
  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1">
      <h1>Create Session Form</h1>
      <form class="form sessions-form max-xs" id="new-session-form" name="new-session-form">
        <fieldset>
          <p id="create-session-error"></p>
          <p>All fields are <u>optional</u> unless otherwise indicated</p>

          <div class="form-group">
            <label>Session Date</label>
            <input id="session-date-create-field" class="form-control" name="session[obs_on]" placeholder="Session Date" type="date">
          </div>

          <div class="form-group setting-field-container">
            <label>Session Setting (required)</label>
            <div class="setting-field-notification"></div>
            <input name="session[obs_setting]" class="form-control setting-required" placeholder="Session Setting" type="text">
          </div>

          <div class="form-group task-field-container">
            <label>Session Task (required)</label>
            <div class="task-field-notification"></div>
            <input name="session[obs_task]" class="form-control task-required" placeholder="Session Task" type="text">
          </div>

          <div class="form-group intervals-field-container">
            <label>Number of Intervals (required) - between 1 and 60</label>
            <div class="intervals-field-notification"></div>
            <input id="interval-number-entry" class="form-control intervals-required" name="session[int_num]" placeholder="Number of Intervals" type="text" value="40">
          </div>

          <div class="form-group length-field-container">
            <label>Length of Intervals in seconds (required) - between 5 and 30 seconds</label>
            <div class="length-field-notification"></div>
            <input id="interval-length-entry" class="form-control length-required" name="session[obs_time]" placeholder="Time" type="text" value="15">
          </div>

          <div class="form-group">
            <label>Session Comment</label>
            <input name="session[comment]" class="form-control" placeholder="Comment" type="text">
          </div>

          <p class="total-session-time-calculator"><label>Total Session Time Calculator</label></p>
          <p class="total-session-time">A session with <span class="number-of-intervals-entry">40</span> intervals measured every <span class="length-of-intervals-entry">15</span> seconds will take <span class="highlight-time"><span id="total-session-time-m">10</span> minutes and
            <span id="total-session-time-s">0</span> seconds</span>
            to complete.</p>

          <div class="form-group submit-btn-container">
            <input id="create-session-btn" class="current btn btn-success submit-btn" name="submit" type="submit" value="Submit" data-current-student-id="">
            <button class="btn btn-danger submit-btn current session-cancel-btn" data-current-student-id="" data-current-session-id="0">Cancel</button>
          </div>

        </fieldset>
      </form>
      <div class="dashboard-container well max-xs">
        <button id="dashboard-home-btn" type="button" class="btn btn-primary">View Students</button>
      </div>
    </div>
  </div>
