<form class="form sessions-form" id="new-session-form" name="new-session-form">
  <fieldset>
    <legend>Create Session Form</legend>
    <p class="warning">Error creating session. Please check if all required fields are entered and number values fall within the listed range.</p>
    <p class="field-description">Session Date</p>
    <input id="session-date-create-field" name="session[obs_on]" placeholder="Session Date" type="date">
    <br>
    <p class="field-description">Session Setting</p>
    <input name="session[obs_setting]" placeholder="Session Setting" type="text">
    <br>
    <p class="field-description">Session Task</p>
    <input name="session[obs_task]" placeholder="Session Task" type="text">
    <br>
    <p class="field-description">Number of Intervals (required) <br>(between 1 and 60)</p>
    <input id="interval-number-entry" name="session[int_num]" placeholder="Number of Intervals" type="text" value="40">
    <br>
    <p class="field-description">Length of Each Interval - in seconds (required) <br>(between 10 and 30)</p>
    <input id="interval-length-entry" name="session[obs_time]" placeholder="Time" type="text" value="15">
    <br>
    <p class="field-description">Session Comment</p>
    <input name="session[comment]" placeholder="Comment" type="text">
    <br><br>
    <p class="total-session-time">A session with <span class="number-of-intervals-entry">40</span> intervals measured every <span class="length-of-intervals-entry">15</span> seconds will take <span id="total-session-time-m">10</span> minutes and <span id="total-session-time-s">0</span> seconds
      to complete.</p>
    <!-- <input name="session[student_id]" id="create-session-stud-id" type="hidden" value="1"> -->
    <br>
    <input id="create-session-btn" class="current" name="submit" type="submit" value="Create session" data-current-student-id="">
  </fieldset>
</form>

<br><br>
<div class="dashboard-container">
  <input id="dashboard-home-btn" type="button" value="Existing Records">
  <input id="dashboard-new-session-btn" type="button" value="Create Session">
</div>
