$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$experimental-support-for-svg: true;
$zero-color: rgba(62,117,34,1);
$twenty-color: rgba(113,231,29,1);
$forty-color: rgba(235,235,20,1);
$sixty-color: rgba(240,135,24,1);
$eighty-color: rgba(207,47,19,0.89);
$one-hundred-color: rgba(231,24,24,1);
@mixin timer-gradient($color-one, $color-two, $color-three) {
  // default color
  background: white;
  background: linear-gradient(to right, $color-one 0%, $color-two 50%, $color-three 100%);
  /* W3C */
  background: -ms-linear-gradient(left, $color-one 0%, $color-two 50%, $color-three 100%);
  /* IE 10+ */
  background: -o-linear-gradient(left, $color-one 0%, $color-two 50%, $color-three 100%);
  /* Opera 11.10+ */
  background: -moz-linear-gradient(left, $color-one 0%, $color-two 50%, $color-three 100%);
  /* FF3.6+ */
  background: -webkit-gradient(left top, right top, color-stop(0%, $color-one), color-stop(50%, $color-two), color-stop(100%, $color-three));
  /* Chrome, Safari4+ */
  background: -webkit-linear-gradient(left, $color-one 0%, $color-two 50%, $color-three 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(left, $color-one 0%, $color-two 50%, $color-three 100%);
  /* FF3.6+ */
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #fffefe;
}

h1 {
  font-size: 30px;
  color: #933346;
}

h2 {
  font-size: 25px;
  color: #334693;
}

.image-padding {
  margin-top: 15px;
}

#tutorial-btn {
  margin-top: 10px;
}

.tutorial-btn-container {
  display: none;
}

.xs-only {
  padding: 10px;
  border: 1px solid black;
  border-radius: 6px;
  margin: 15px auto;
  text-align: center;
}

.tutorial-img {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.credentials-notification-container {
  float: left;
}

.tutorial-btn-container {
  float: right;
}

.tutorial-image-container {
  padding: 10px;
  border: 1px solid black;
  border-radius: 6px;
  margin: 10px;
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.hr-divide {
  padding: 0 20px;
  border-top: 1px solid #8c8b8b;
}

.image-caption {
  text-align: center;
  font-weight: bold;
}

.tutorial-image-container img {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.time-bar-container {
  background-color: lightgray;
  height: 30px;
  margin: 10px;
}

#time-bar {
  height: 30px;
  margin: -40px 10px 10px;
  background-color: green;
}

.highlight-red {
  color: red;
}

.border-highlight {
  border: 1px solid red;
}

h3 {
  font-size: 20px;
  color: #5569BB;
}

h4 {
  color: #C6CADB;
}

h5 {
  color: #737DA5;
}

h6 {
  color: #6A7DCB;
}

.delete-confirmation-row {
  display: none;
}

#boss-main-img {
  max-width: 400px;
  width: 100%;
  float: right;
  margin: 5px;
  border: 1px solid #C6CADB;
}

.comparison-center {
  text-align: center;
}

.btn-bottom-margin {
  margin-bottom: 20px;
}

.btn-top-margin {
  margin-top: 20px;
}

.interval-comment-label {
  text-align: center;
  font-weight: bold;
}

.create-session-student-btn-container {
  margin-bottom: 20px;
}

.underline-h {
  text-decoration: underline;
}

.session-completed {
  display: none;
}

.submit-last-warnings {
  text-align: center;
}

.no-submission-warning {
  background-color: white;
  color: red;
}

.last-submission-table {
  text-align: center;
}

.observation-form-center {
  width: 70%;
}

.observation-form-side-left {
  height: 50%;
}

.redbc {
  background-color: red;
}

.credentials-container {
  text-align: left;
  padding-top: 10px;
}

.obs-comment-container input {
  margin: 0 auto;
}

.last-submission-container {
  text-align: center;
  background-color: white;
  width: 100%;
}

.last-submission-table {
  padding: 5px;
}

.observation-form-side {
  text-align: center;
  width: 15%;
}

.timer-container {
  margin: 5px;
}

.interval-confirmation-container {
  height: 22px;
  text-align: center;
}

.highlight-time {
  text-decoration: underline;
  font-weight: 600;
}

.sign-out {
  height: 33px;
  float: left;
}

.dashboard-container {
  text-align: center;
}

.dashboard-container input {
  margin: 0 auto;
  vertical-align: middle;
}

#update-session-form > fieldset > input:nth-child(18) {
  border: 1px solid gold;
}

#update-session-form > fieldset > input:nth-child(15) {
  border: 1px solid gold;
}
/////Testing new observation form styling

#cancel-session-btn {
  display: none;
}
// Hide sign-out by default

.failure {
  color: red;
}

.success {
  color: green;
}

#sign-out {
  display: none;
  margin: 0 5px;
}

#change-password {
  display: none;
  float:left;
}

#change-password button {
  // float: left;
}

.success-alert {
  color: green;
}

.failure-alert {
  color: red;
}

.observation-form-side {
  width: 200px;
}

.observation-form-center {
  width: 400px;
}

#new-observation-form {
  max-width: 100%;
}

#new-observation-form .entire-form-table {
  width: 100%;
}

.obs-stg-one {
  @include timer-gradient($zero-color, $twenty-color, $forty-color);
}

.obs-stg-two {
  @include timer-gradient($twenty-color, $forty-color, $sixty-color);
}

.obs-stg-three {
  @include timer-gradient($forty-color, $sixty-color, $eighty-color);
}

.obs-stg-four {
  @include timer-gradient($sixty-color, $eighty-color, $eighty-color);
}

.obs-stg-five {
  @include timer-gradient($eighty-color, $one-hundred-color, $one-hundred-color);
}

.obs-stg-done {
  background-color: #D3D3D3;
}

#interval-submitted-successfully {
  color: green;
  border: 1px dotted green;
  margin-left: 35%;
  margin-right: 35%;
  display: none;
  padding: 2px;
  font-size: 16px;
}

.write-section-header {
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
}
// Hides submit button

#submit-observation-btn {
  display: none;
}

.warning {
  background-color: red;
}
/// Chart CSS
// .results-chart {
//   max-width: 250px;
//   float: left;
// }
///

#interval-timer {
  font-size: 20px;
  color: red;
}

.field-button-container {
  text-align: center;
}

.session-time-container {
  display: none;
}

.interval-time-count-container {
  color: green;
  font-weight: 600;
  text-align: center;
  font-size: 16px;
}

.timer-observer-container {
  display: none;
}

#interval-timer,
.interval-count {
  color: red;
}

.field-button-container button {
  margin: 0 auto;
}

.field-desc-container {
  text-align: center;
  padding: 5px;
  margin: 5px 10px;
}

.field-desc-container input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5);
  /* IE */
  -moz-transform: scale(1.5);
  /* FF */
  -webkit-transform: scale(1.5);
  /* Safari and Chrome */
  padding: 10px;
}

.field-text {
  width: 100%;
  border: 1px solid green;
}

.field-comment input {
  width: 300px;
}

.field-comment:-moz-placeholder,
.field-comment:-ms-input-placeholder,
.field-comment::-moz-placeholder,
.field-comment::-webkit-input-placeholder {
  text-align: center;
}

.check-left {
  float: left;
  border: 1px solid green;
  width: 100px;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.check-right {
  float: right;
  border: 1px solid green;
  width: 100px;
}

.check-clear {
  clear: both;
}
// Default hide session canceled notification

.cancel-session-notification {
  display: none;
}

.switch-container {
  width: 100%;
  text-align: center;
  padding: 2px;
  // margin: 2px;
}

.dropdown-menu {
  padding: 5px;
}

.notification-container {
  margin-top: 5px;
}

.center {
  text-align: center;
}

.action-btn-container {
  text-align: center;
}

.current-student-observed {
  color: black;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  color: #62759c;
};

.legend-gradient {
  text-align: center;
}

.cancel-session-btn-container {
  text-align: center;
}
// Slide Radio Buttons

.switch {
  position: relative;
  height: 26px;
  width: 120px;
  margin: 20px auto;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.observing-name {
  color: black;
  font-size: 16px;
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 58px;
  line-height: 26px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.35);
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}

.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

.switch-input {
  display: none;
}

.switch-input:checked + .switch-label {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -ms-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: color, text-shadow;
  -moz-transition-property: color, text-shadow;
  -ms-transition-property: color, text-shadow;
  -o-transition-property: color, text-shadow;
  transition-property: color, text-shadow;
}

.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 60px;
}

.switch-selection {
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  display: block;
  width: 58px;
  height: 22px;
  border-radius: 3px;
  background-color: #65bd63;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dd993), color-stop(100%, #65bd63));
  background-image: -webkit-linear-gradient(top, #9dd993, #65bd63);
  background-image: -moz-linear-gradient(top, #9dd993, #65bd63);
  background-image: -ms-linear-gradient(top, #9dd993, #65bd63);
  background-image: -o-linear-gradient(top, #9dd993, #65bd63);
  background-image: linear-gradient(top, #9dd993, #65bd63);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -ms-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}

.switch-red .switch-selection {
  background-color: #ff0000;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff0000), color-stop(100%, #ff0000));
  background-image: -webkit-linear-gradient(top, #ff0000, #ff0000);
  background-image: -moz-linear-gradient(top, #ff0000, #ff0000);
  background-image: -ms-linear-gradient(top, #ff0000, #ff0000);
  background-image: -o-linear-gradient(top, #ff0000, #ff0000);
  background-image: linear-gradient(top, #ff0000, #ff0000);
}

.switch-green .switch-selection {
  background-color: #008000;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #008000), color-stop(100%, #008000));
  background-image: -webkit-linear-gradient(top, #008000, #008000);
  background-image: -moz-linear-gradient(top, #008000, #008000);
  background-image: -ms-linear-gradient(top, #008000, #008000);
  background-image: -o-linear-gradient(top, #008000, #008000);
  background-image: linear-gradient(top, #008000, #008000);
}

.benefit-image {
  max-width: 100%;
}

.highlight {
  background-color: yellow;
}

.center-label {
  text-align: center;
  font-weight: bold;
}

.extra-padding-top {
  padding-top: 10px;
}

.extra-padding-bottom {
  padding-bottom: 10px;
}
// Media
@media screen and (max-width: 421px) {
  .new-line-btn {
    margin-top: 5px;
  }
}
@media screen and (max-width: 415px) {
  .time-bar-container {
    // width: 300px;
    background-color: lightgray;
    height: 20px;
  }

  #time-bar {
    height: 20px;
    margin-top: -30px;
    background-color: green;
    // width: 300px;
  }

  #interval-remaining {
    text-align: center;
  }

  .btn-bottom-margin-mobile {
    margin-bottom: 5px;
  }

  .dashboard-session-btn-container {
    text-align: center;
  }

  .btn-top-margin-mobile {
    margin-bottom: 5px;
  }

  .new-session-home-container {
    text-align: center;
  }
}
@media screen and (max-width: 415px) {
  .phone-hidden {
    display: none;
  }

  .phone-center {
    text-align: center;
  }

  .create-session-student-btn-container {
    text-align: center;
  }

  .submit-btn-container {
    text-align: center;
  }

  .credentials-container input {
    border: 1px solid lightgray;
  }
  // .row {
  //   margin-left: 0;
  //   margin-right: 0;
  // }
}
@media screen and (max-width: 730px) {
  #interval-submitted-successfully {
    color: green;
    border: 1px dotted green;
    margin: 0;
    display: none;
    padding: 2px;
    font-size: 16px;
  }

  .clear-image {
    clear: both;
    padding-top: 5px;
  }

  #boss-main-img {
    float: none;
    width: 100%;
    padding: 5px;
    display: block;
    margin: auto;
  }
}

.switch {
  height: 34px;
  width: 140px;
}

.switch-label {
  line-height: 34px;
  width: 70px;
  font-size: 13px;
  text-shadow: none;
  color: black;
}

.switch-selection {
  width: 70px;
  height: 34px;
  top: 0;
  left: 0;
  right: 0;
}

.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 70px;
}
// @media screen and (min-width: 1100px) {
//   .td-value {
//     width: 75%;
//   }
// }

.td-value {
  min-width: 50%;
}

.max-xs {
  max-width: 768px;
}

@media screen and (max-width: 768px) {
  .xs-hide {
    display: none;
  }
}

.xs-only {
  max-width: 500px;
}

@media screen and (min-width: 769px) {
  .xs-only {
    display: none;
  }
}

@media screen and (max-width: 400px) {
.tutorial-btn-container {
  float: none;
  }
.center-mobile {
  text-align: center;
}
}

@media screen and (max-width: 415px) {
  // .td-value {
  //   width: 75%;
  // }
  .hidden-phone {
    display: none;
  }

  .last-submission-table input[type="checkbox"] {
    zoom: 1;
    width: 25px;
    height: 25px;
  }

  .switch {
    height: 35px;
    width: 120px;
  }

  .switch-label {
    line-height: 35px;
    width: 60px;
    font-size: 12px;
    text-shadow: none;
    color: black;
  }

  .switch-selection {
    width: 60px;
    height: 35px;
    top: 0;
    left: 0;
    right: 0;
  }

  .switch-input:checked + .switch-label-on ~ .switch-selection {
    left: 60px;
  }
}

.last-submission-table input[type="checkbox"] {
  zoom: 1;
  width: 20px;
  height: 20px;
}

#interval-remaining {
  text-align: center;
}

#hide-edit-mobile {
  display: none;
  margin-bottom: 5px;
}

#show-edit-mobile {
  display: none;
  margin-bottom: 5px;
}

.interval-confirmation-container {
  margin-top: 5px;
}

.student-summary-name {
  font-size: 18px;
  font-weight: bold;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input:focus,
  select:focus,
  textarea:focus {
    font-size: 16px;
    background: #eee;
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input,
  select,
  textarea {
    font-size: 16px;
  }
}
