$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$experimental-support-for-svg: true;
$zero-color: rgba(62,117,34,1);
$twenty-color: rgba(113,231,29,1);
$forty-color: rgba(235,235,20,1);
$sixty-color: rgba(240,135,24,1);
$eighty-color: rgba(207,47,19,0.89);
$one-hundred-color: rgba(231,24,24,1);

@mixin timer-gradient($color-one, $color-two, $color-three) {
  // default color
  background: white;
  background: linear-gradient(to right, $color-one 0%, $color-two 50%, $color-three 100%);
  /* W3C */
  background: -ms-linear-gradient(left, $color-one 0%, $color-two 50%, $color-three 100%);
  /* IE 10+ */
  background: -o-linear-gradient(left, $color-one 0%, $color-two 50%, $color-three 100%);
  /* Opera 11.10+ */
  background: -moz-linear-gradient(left, $color-one 0%, $color-two 50%, $color-three 100%);
  /* FF3.6+ */
  background: -webkit-gradient(left top, right top, color-stop(0%, $color-one), color-stop(50%, $color-two), color-stop(100%, $color-three));
  /* Chrome, Safari4+ */
  background: -webkit-linear-gradient(left, $color-one 0%, $color-two 50%, $color-three 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(left, $color-one 0%, $color-two 50%, $color-three 100%);
  /* FF3.6+ */
}

body {
  margin: 10px;
  padding: 5px;
}

.session-completed {
  display: none;
}

.submit-last-warnings {
  text-align: center;
}

.no-submission-warning {
  background-color: white;
  color: red;
}

.last-submission-table {
  text-align: center;
}

.observation-form-center {
  width: 70%;
}

.observation-form-side-left {
  height: 50%;
}

#create-obs-comment {
  width: 80%;
}

.redbc {
  background-color:red;
}

// .credentials-container {
//   visibility: hidden;
// }
.credentials-container {
  display: none;
  text-align: right;
}

.obs-comment-container input {
  margin: 0 auto;
}

.last-submission-container {
  text-align: center;
  background-color: white;
  height: 400px;
}

.last-submission-table {
  padding: 5px;
}

.observation-form-side {
  text-align: center;
  width: 15%;
}



.timer-container {
  margin: 5px;
}

.interval-confirmation-container {
  height: 22px;
  text-align: center;
}

.highlight-time {
  text-decoration: underline;
  font-weight: 600;
}

.sign-out {
  height:33px;
}

.dashboard-session-btn-container {
  text-align: center;
}

.dashboard-session-btn-container button {
  margin: 0 auto;
}

.dashboard-container {
  border-top: 1px solid black;
  padding-top: 5px;
  text-align: center;
}

.student-record-btn-options {
  text-align: center;
}

.student-record-btn-options {
  margin: 0 auto;
}

.dashboard-container input {
  margin: 0 auto;
}

#update-session-form > fieldset > input:nth-child(18) {
  border: 1px solid gold;
}

#update-session-form > fieldset > input:nth-child(15) {
  border: 1px solid gold;;
}

/////Testing new observation form styling

#cancel-session-btn {
  display: none;
}

// Hide sign-out by default
.failure {
  color: red;
}

.success {
  color: green;
}

#sign-out {
  visibility: hidden;
}

#change-password {
  visibility: hidden;
}

.success-alert {
  color: green;
}

.failure-alert {
  color: red;
}

.observation-form-side {
  width: 200px;
}

.observation-form-center {
  width: 400px;
}

#new-observation-form {
  max-width: 100%;
}

#new-observation-form .entire-form-table {
  width: 100%;
}

.obs-stg-one {
  @include timer-gradient($zero-color, $twenty-color, $forty-color);
}

.obs-stg-two {
  @include timer-gradient($twenty-color, $forty-color, $sixty-color);
}

.obs-stg-three {
  @include timer-gradient($forty-color, $sixty-color, $eighty-color);
}

.obs-stg-four {
  @include timer-gradient($sixty-color, $eighty-color, $eighty-color);
}

.obs-stg-five {
  @include timer-gradient($eighty-color, $one-hundred-color, $one-hundred-color);
}

.obs-stg-done {
  background-color: #D3D3D3;
}

#interval-submitted-successfully {
  color: green;
  border: 1px dotted green;
  margin-left: 5px;
  display: none;
  padding: 2px;
  font-size: 16px;
}

.write-section-header {
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
}

// Hides submit button
#submit-observation-btn {
  display: none;
}

.warning {
  background-color: red;
}

/// Chart CSS

.results-chart {
  max-width: 250px;
  float: left;
}

///

#interval-timer {
  font-size: 20px;
  color: red;
}

.field-button-container {
  text-align: center;
}

.session-time-container {
  display: none;
}

.interval-time-count-container {
  color: green;
  font-weight: 600;
  text-align: center;
  font-size: 16px;
}

.interval-count,
#interval-timer {
  color: red;
}

.field-button-container button {
  margin: 0 auto;
}

.field-desc-container {
  text-align: center;
  padding: 5px;
  margin: 5px 10px;
}

.field-desc-container input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5);
  /* IE */
  -moz-transform: scale(1.5);
  /* FF */
  -webkit-transform: scale(1.5);
  /* Safari and Chrome */
  padding: 10px;
}

.field-text {
  width: 100%;
  border: 1px solid green;
}

.field-comment input {
  width: 300px;
}

.field-comment:-moz-placeholder,
.field-comment:-ms-input-placeholder,
.field-comment::-moz-placeholder,
.field-comment::-webkit-input-placeholder {
  text-align: center;
}

.check-left {
  float: left;
  border: 1px solid green;
  width: 100px;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.check-right {
  float: right;
  border: 1px solid green;
  width: 100px;
}

.check-clear {
  clear: both;
}

// Default hide session canceled notification
.cancel-session-notification {
  display: none;
}
