$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

// Header
// h1
// .sub-description-h1 {
//   clear:both;
// }
//
// // Login CSS
// .login-form {
//   display: none;
// }
//
// .login-button-container {
//   margin-top: 10px;
//   text-align: center;
// }
//
// .sub-image {
//   max-width:100%;
// }
//
// // .sub-description-container:nth-child(2n+1)
// .sub-description-container {
//   clear: both;
// }
//
// .sub-image-container {
//   max-width: 24%;
// }
//
// .sub-description {
//   max-width:75%;
// }
//
// .float-r {
//   float: right;
// }
//
// .float-l {
//   float: left;
// }
