$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$experimental-support-for-svg: true;
$zero-color: rgba(62,117,34,1);
$twenty-color: rgba(113,231,29,1);
$forty-color: rgba(235,235,20,1);
$sixty-color: rgba(240,135,24,1);
$eighty-color: rgba(207,47,19,0.89);
$one-hundred-color: rgba(231,24,24,1);
@mixin timer-gradient($color-one, $color-two, $color-three) {
  // default color
  background: white;
  background: linear-gradient(to right, $color-one 0%, $color-two 50%, $color-three 100%);
  /* W3C */
  background: -ms-linear-gradient(left, $color-one 0%, $color-two 50%, $color-three 100%);
  /* IE 10+ */
  background: -o-linear-gradient(left, $color-one 0%, $color-two 50%, $color-three 100%);
  /* Opera 11.10+ */
  background: -moz-linear-gradient(left, $color-one 0%, $color-two 50%, $color-three 100%);
  /* FF3.6+ */
  background: -webkit-gradient(left top, right top, color-stop(0%, $color-one), color-stop(50%, $color-two), color-stop(100%, $color-three));
  /* Chrome, Safari4+ */
  background: -webkit-linear-gradient(left, $color-one 0%, $color-two 50%, $color-three 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(left, $color-one 0%, $color-two 50%, $color-three 100%);
  /* FF3.6+ */
}

#new-observation-form {
  max-width: 100%;
}

.obs-stg-one {
  @include timer-gradient($zero-color, $twenty-color, $forty-color);
}

.obs-stg-one {
  @include timer-gradient($twenty-color, $forty-color, $sixty-color);
}

.obs-stg-one {
  @include timer-gradient($forty-color, $sixty-color, $eighty-color);
}

.obs-stg-one {
  @include timer-gradient($sixty-color, $eighty-color, $one-hundred-color);
}

.obs-stg-one {
  @include timer-gradient($eighty-color, $one-hundred-color, $one-hundred-color);
}
// Temp Hide
// #new-observation-form,
// #change-password,
// #delete-observation-form,
// #delete-session-form,
// #delete-student-form,
// #get-observations-form,
// #get-sessions-form,
// #new-session-form,
// #show-observation-form,
// #show-session-form,
// #show-student-form,
// #sign-out,
// #sign-up,
// #update-observation-form,
// #update-session-form,
// #update-student-form,
// .dashboard-container,
// .timer-container {
//   display: none;
// }
// hide for testing:
// #change-password,
// #delete-observation-form,
// #delete-session-form,
// #delete-student-form,
// #get-observations-form,
// #get-sessions-form,
// #new-session-form,
// #show-observation-form,
// #show-session-form,
// #show-student-form,
// #sign-out,
// #sign-up,
// #sign-in,
// #new-student-form,
// #get-students-form,
// #update-observation-form,
// #update-session-form,
// #update-student-form,
// .dashboard-container {
//   display: none;
// }
///////////////////////

#interval-timer {
  font-size: 20px;
  color: red;
}

.field-button-container {
  text-align: center;
}

.session-time-container {
  display: none;
}

.interval-time-count-container {
  color: green;
  font-weight: 600;
  text-align: center;
  font-size: 16px;
}

#interval-count,
#interval-timer {
  color: red;
}

.field-button-container button {
  margin: 0 auto;
}

.field-desc-container {
  text-align: center;
  padding: 5px;
  margin: 5px 10px;
}

.field-desc-container input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5);
  /* IE */
  -moz-transform: scale(1.5);
  /* FF */
  -webkit-transform: scale(1.5);
  /* Safari and Chrome */
  padding: 10px;
}

.field-text {
  width: 100%;
  border: 1px solid green;
}

.field-comment input {
  width: 300px;
}

.field-comment:-moz-placeholder,
.field-comment:-ms-input-placeholder,
.field-comment::-moz-placeholder,
.field-comment::-webkit-input-placeholder {
  text-align: center;
}

.check-left {
  float: left;
  border: 1px solid green;
  width: 100px;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.check-right {
  float: right;
  border: 1px solid green;
  width: 100px;
}

.check-clear {
  clear: both;
}
// Header
// h1
// .sub-description-h1 {
//   clear:both;
// }
//
// // Login CSS
// .login-form {
//   display: none;
// }
//
// .login-button-container {
//   margin-top: 10px;
//   text-align: center;
// }
//
// .sub-image {
//   max-width:100%;
// }
//
// // .sub-description-container:nth-child(2n+1)
// .sub-description-container {
//   clear: both;
// }
//
// .sub-image-container {
//   max-width: 24%;
// }
//
// .sub-description {
//   max-width:75%;
// }
//
// .float-r {
//   float: right;
// }
//
// .float-l {
//   float: left;
// }
//Timer Gradient
