<table class="report-session-summary">
  <tr>
    <th colspan="6">Session Date: </th>
  </tr>
  <tr>
    <td>Setting</td>
    <td colspan="2"></td>
    <td>Task</td>
    <td colspan="2"></td>
  </tr>
  <tr>
    <td># Intervals</td>
    <td></td>
    <td>Inteval Length</td>
    <td></td>
    <td>Session Length</td>
    <td></td>
  </tr>
</table>
<br><br>
<div class="dashboard-container">
  <input id="dashboard-home-btn" type="button" value="View Records">
  <input id="dashboard-new-session-btn" type="button" value="Create Record">
</div>
