<div class="create-writeup-form-container">
  <form id="report-writeup-form" name="report-writeup-form">
    <fieldset>
      <h1 class="form-h1">Create Writeup Form</h1>

      <p class="field-description">Presenting Issues</p>
      <textarea class="field-input comments-input" name="report[presenting_issue]" placeholder="Presenting Issue"></textarea>
      <br>

      <p class="field-description">Class Behavioral Assessment</p>
      <textarea class="field-input comments-input" name="report[class_behav_assess]" placeholder="Class Behavioral Assessment"></textarea>
      <br>

      <p class="field-description">Session Setting</p>
      <textarea class="field-input comments-input" name="report[r_setting]" placeholder="Session Setting"></textarea>
      <br>

      <p class="field-description">Active Engaged Time</p>
      <textarea class="field-input comments-input" name="report[r_aet]" placeholder="Active Engaged Time"></textarea>
      <br>

      <p class="field-description">Passive Engaged Time</p>
      <textarea class="field-input comments-input" name="report[r_pet]" placeholder="Passive Engaged Time"></textarea>
      <br>

      <p class="field-description">Off-Task Motor Behavior</p>
      <textarea class="field-input comments-input" name="report[r_oftm]" placeholder="Off-Task Motor Behavior"></textarea>
      <br>

      <p class="field-description">Off-Task Verbal Behavior</p>
      <textarea class="field-input comments-input" name="report[r_oftv]" placeholder="Off-Task Verbal Behavior"></textarea>
      <br>

      <p class="field-description">Off-Task Passive Behavior</p>
      <textarea class="field-input comments-input" name="report[r_oftp]" placeholder="Off-Task Passive Behavior"></textarea>
      <br>

      <p class="field-description">Findings</p>
      <textarea class="field-input comments-input" name="report[r_finding]" placeholder="Findings"></textarea>
      <br>

      <p class="field-description">Custom Field Title One</p>
      <textarea class="field-input comments-input" name="report[custom_one_title]" placeholder="Custom Title One"></textarea>
      <br>

      <p class="field-description">Custom Field One</p>
      <textarea class="field-input comments-input" name="report[r_customone]" placeholder="Custom Field One"></textarea>
      <br>

      <p class="field-description">Custom Field Title Two</p>
      <textarea class="field-input comments-input" name="report[custom_two_title]" placeholder="Custom Title Two"></textarea>
      <br>

      <p class="field-description">Custom Field Two</p>
      <textarea class="field-input comments-input" name="report[r_customtwo]" placeholder="Custom Field Two"></textarea>
      <br>

      <p class="field-description">Custom Field Title Three</p>
      <textarea class="field-input comments-input" name="report[custom_three_title]" placeholder="Custom Title Three"></textarea>
      <br>

      <p class="field-description">Custom Field Three</p>
      <textarea class="field-input comments-input" name="report[r_customthree]" placeholder="Custom Field Three"></textarea>
      <br>

      <p class="field-description">Recommendation</p>
      <textarea class="field-input comments-input" name="report[r_recommendation]" placeholder="Recommendation"></textarea>
      <br>

      <p class="field-description">Observer's Name (i.e. Your Name)</p>
      <textarea class="field-input comments-input" name="report[counselor_name]" placeholder="Observer's Name"></textarea>
      <br>

      <input class="submit-btn current" name="submit" id="create-report-writeup-btn" type="submit" value="Submit Writeup" data-current-student-id="" data-current-session-id="">
    </fieldset>
  </form>
</div>

<div class="dashboard-container">
  <input id="dashboard-home-btn" type="button" value="View Dashboard">
  <input id="dashboard-new-session-btn" type="button" value="Create Session">
</div>
