<table class="report-statistics">
  <tr>
    <th></th>
    <th colspan="2">Target Student</th>
    <th colspan="2">Random Peer</th>
  </tr>
  <tr>
    <td></td>
    <td>Count</td>
    <td>Percent</td>
    <td>Count</td>
    <td>Percent</td>
  </tr>
  <tr class="report-stats-aet-tr">
    <td>AET</td>
    <td class="report-stats-ts-aet-count"></td>
    <td class="report-stats-ts-aet-percent"></td>
    <td class="report-stats-rp-aet-count"></td>
    <td class="report-stats-rp-aet-percent"></td>
  </tr>
  <tr class="report-stats-pet-tr">
    <td>PET</td>
    <td class="report-stats-ts-pet-count"></td>
    <td class="report-stats-ts-pet-percent"></td>
    <td class="report-stats-rp-pet-count"></td>
    <td class="report-stats-rp-pet-percent"></td>
  </tr>
  <tr class="report-stats-oft-m-tr">
    <td>OFT-M</td>
    <td class="report-stats-ts-oft-m-count"></td>
    <td class="report-stats-ts-oft-m-percent"></td>
    <td class="report-stats-rp-oft-m-count"></td>
    <td class="report-stats-rp-oft-m-percent"></td>
  </tr>
  <tr class="report-stats-oft-v-tr">
    <td>OFT-V</td>
    <td class="report-stats-ts-oft-v-count"></td>
    <td class="report-stats-ts-oft-v-percent"></td>
    <td class="report-stats-rp-oft-v-count"></td>
    <td class="report-stats-rp-oft-v-percent"></td>
  </tr>
  <tr class="report-stats-oft-p-tr">
    <td>OFT-P</td>
    <td class="report-stats-ts-oft-p-count"></td>
    <td class="report-stats-ts-oft-p-percent"></td>
    <td class="report-stats-rp-oft-p-count"></td>
    <td class="report-stats-rp-oft-p-percent"></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="2">TS Intervals: <span id="report-target-interval-count"></span></td>
    <td colspan="2">RP Intervals: <span id="report-random-interval-count"></span></td>
  </tr>
</table>
<br><br>
<div class="dashboard-container">
  <input id="dashboard-home-btn" type="button" value="View Records">
  <input id="dashboard-new-session-btn" type="button" value="Create Record">
</div>
