<div class="row">
  <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
    <h1>Session Report</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-9 col-lg-offset-1 col-lg-7 display-student-summary-container display-student-summary-container"></div>
</div>

<div class="row">
  <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10 display-stats-table-container"></div>
</div>

<div class="row">
  <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
    <h1>Session Graphs</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-1 col-sm-5 col-xs-12 col-xs-offset-0 et-chart-width">
    <h3 class="comparison-center">Engaged Comparison</h3>
    <div class="et-container">
      <canvas class="results-chart" id="et-chart" width="100" height="100"></canvas>
    </div>
  </div>

  <div class="col-xs-12 col-xs-offset-0 col-sm-5 oft-chart-width">
    <h3 class="comparison-center">Off-Task Comparison</h3>
    <div class="oft-container">
      <canvas class="results-chart" id="oft-chart" width="100" height="100"></canvas>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10 display-observation-container"></div>
</div>

<div class="row">
  <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
    <div class="dashboard-container">
      <button class="btn btn-info btn-md dashboard-student-record-btn current" data-current-student-id="">Student Record</button>
      <button id="view-session-details-btn" class="btn btn-info btn-md current" data-current-session-id="">Session Record</button>
    </div>
  </div>
</div>

<div class="row btn-top-margin">
  <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
    <div class="dashboard-container well">
      <button id="dashboard-home-btn" type="button" class="btn btn-primary">View Students</button>
      <button id="dashboard-new-session-btn" type="button" class="btn btn-success">Create Session</button>
    </div>
  </div>
</div>
