<form class="form student-form" id="new-student-form" name="new-student-form">
  <fieldset>
    <legend>Create Student Form</legend>
    <p class="field-description">First Name</p>
    <input name="student[first_name]" placeholder="First Name" type="text" value="z">
    <br>
    <p class="field-description">Last Name</p>
    <input name="student[last_name]" placeholder="Last Name" type="text" value="z">
    <br>
    <p class="field-description">Date of Birth (optional)</p>
    <input name="student[born_on]" placeholder="Date of Birth" type="date" value="2016-05-05">
    <br>
    <p class="field-description">School (optional)</p>
    <input name="student[school]" placeholder="School" type="text" value="z">
    <br>
    <p class="field-description">Teacher (optional)</p>
    <input name="student[teacher]" placeholder="Teacher" type="text" value="z">
    <br>
    <p class="field-description">Grade</p>
    <input name="student[grade]" placeholder="Grade" type="text" value="z">
    <br>
    <input name="submit" id="create-student-btn" type="submit" value="Create Student">
  </fieldset>
</form>
<br><br>
<div class="dashboard-container">
  <input id="dashboard-home-btn" type="button" value="View Dashboard">
  <input id="dashboard-new-session-btn" type="button" value="Create Session">
</div>
