<div class="container create-student-form-container form-container form-group">
  <div class="row">
    <div class="col-md-12">
      <p class="lead">Please note, in order to create an observation session, you must first create a student record.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <form class="form student-form" id="new-student-form" name="new-student-form">
        <fieldset>
          <legend>Create Student Form</legend>
          <p id="create-student-error" class="warning form-error"></p>
          <p>All fields are <u>optional</u> unless otherwise indicated</p>

          <div class="form-group">
            <label>First Name (required)</label>
            <input class="form-control required-field" name="student[first_name]" placeholder="First Name" type="text">
          </div>

          <div class="form-group">
            <label>Last Name (required)</label>
            <input class="form-control required-field" name="student[last_name]" placeholder="Last Name" type="text">
          </div>

          <div class="form-group">
            <label>Date of Birth</label>
            <input class="form-control" name="student[born_on]" placeholder="Date of Birth" type="date">
          </div>

          <div class="form-group">
            <label>School</label>
            <input class="form-control" name="student[school]" placeholder="School" type="text">
          </div>

          <div class="form-group">
            <label>Teacher</label>
            <input class="form-control" name="student[teacher]" placeholder="Teacher" type="text">
          </div>

          <div class="form-group">
            <label>Grade (required)</label>
            <input class="form-control required-field" name="student[grade]" placeholder="Grade" type="text">
          </div>

          <div class="form-group">
            <input class="btn btn-success submit-btn current" name="submit" id="create-student-btn" type="submit" value="Submit">
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="dashboard-container">
        <button id="dashboard-home-btn" type="button" class="btn btn-primary">View Dashboard</button>
      </div>
    </div>
  </div>
</div>
